:root {
    --primary-color: #103a4eb2;
    --secondary-color: #5b7a54;
    --accent1-color: #c2dbf3;
    --accent2-color: #CACF85;
}

body {
    width: 1400px;
    justify-self: center;
}

header {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    justify-content: space-around;
    margin: 1rem;
    background-color: var(--primary-color);
    border-radius: 30px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 5rem 10rem;
    list-style: none;
    justify-content: space-between;
}

.navigation a {
    display: block;
    color: navy;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--accent2-color);
}

.hero-img {
    position: absolute;
    width: 1400px;
}

.about-us-h1 {
    font-family: 'Yuji Mai', serif;
    color: var(--accent2-color);
    background-color: var(--primary-color);
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 1rem 30rem;
    border: 1px solid rgba(0, 0, 0, .1);
}

article {
    max-width: 1365px;
    font-family: 'Montserrat', sans-serif;
    color: var(--accent2-color);
    margin-top: 6rem;
    padding: 1rem 1rem;
    position: absolute;
    background-color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, .1);
}

article img {
    border: 3px solid var(--secondary-color);
    float: right;
    width: 300px;
}

h2 {
    font-family: 'Yuji Mai', serif;
    display: block;
    justify-content: center;
    text-align: center;
    color: var(--accent2-color);
    background-color: var(--primary-color);
    padding: .1rem 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.first-section {
    display: grid;
    grid: 1fr 3fr / 1fr 1fr 1fr;
    padding-top: 45rem;
}

.first-section h2 {
    grid-area: 1/2;
    justify-self: center;
}

.first-section p {
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 2rem;
    padding: 5px;
    border: 1px rgba(0, 0, 0, .1);
    background-color: var(--accent1-color);
    grid-area: 2/1;
}

#p1 {
    grid-area: 2/1;    
}

#p2 {
    grid-area: 2/3;   
}

.second-section {
    display: grid;
    grid-template-rows: .1fr 1fr;
}

#sub-title {
    grid-area: 1/1;
}

figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.figure1 {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 3px;
    text-align: center;
  }
  

.second-section img {
    width: 200px;
    background-color: var(--accent2-color);
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}

#image1 {
    grid-area: 2/1;
    border: 1px solid rgba(0, 0, 0, .1);
}

#image2 {
    grid-area: 2/2;
    border: 1px solid rgba(0, 0, 0, .1);
}

#image3 {
    grid-area: 2/3;
    border: 1px solid rgba(0, 0, 0, .1);
}

#image4 {
    grid-area: 2/4;
    border: 1px solid rgba(0, 0, 0, .1);
}

#image5 {
    grid-area: 2/5;
    border: 1px solid rgba(0, 0, 0, .1);
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-top: 10px;
    border-top: 2px dashed var(--primary-color);
}

footer a {
    text-decoration: none;
}

footer img {
    width: 50px;
}

.wireframe {
    margin: auto;
}

.employees {
    max-height: 250px;
}

.font {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
}

.third-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    padding: 5px;
}

.Contact-us-title {
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
    padding: 5px;
    margin: 1rem;
    font-family: 'Yuji Mai', serif;
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--accent2-color);
    border-radius: 30px 30px 0 0;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 0;
}

.information h1{
    grid-column: 1/3;
    grid-template-columns: 50% 50%;
}

.information li {
    display: flex;
    justify-content: left;
    align-items: center;
    grid-column: 1/2;
    padding: 5px;
}

.information iframe {
    grid-column: 2/3;
    grid-row: 2/5;
}

.list {
    margin: 1rem;
    padding: 1rem;
}

.third-section figcaption {
    margin-top: -.4rem;
}

.third-section img {
    background-color: var(--primary-color);
    padding: 3px;
    border: 2px solid black;
    margin-top: 1rem;
}

.information2 {
    background-color: var(--accent2-color);
    margin-top: -1rem;
    padding-bottom: 1rem;
    border-radius: 0 0 30px 30px;
}

.write{
    display: flex;
    font-size: 1em;
}

.place {
    background-color: var(--accent2-color);
    padding: .5rem;
    margin: 10px 1rem;
}

textarea {
    background-color: var(--accent2-color);
    margin-top: 1rem;
    margin-left: .5rem;
    width: 600px;
    height: 150px;
    font-size: 1em;
}

button {
    margin: 1rem 3rem;
    padding: 5px 10px;
    font-size: 1em;
    background-color: var(--accent1-color);
}

.radio-group {
    margin-left: 15rem;
    display: flex;
    flex-direction: row;
}

.space {
    padding-top: 54rem;
}

.home {
    margin: 2rem;
}

.sign-up {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    background-color: var(--primary-color);
    border-radius: 50px;
    width: 350px;
    padding: 10px 0;
}

.trips-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
}

.families {
    background-color: var(--accent1-color);
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.families img {
    padding: 5px;
    background-color: var(--accent2-color);
    border: 3px solid var(--secondary-color);
    width: 400px;
    justify-self: center;
}

.families p {
    margin: 1rem 4rem;
}