* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding: 10px;
    --background-color: #f3efdb;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
}
nav a {
    color: white;
    display: block;
    padding: var(--padding);
}
h1 {
    color: darkblue;
}
main img {
    width: 150px;
    height: auto;
    margin-left: 30px;
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: var(--padding);
}
main {
    max-width: 800px;
    font-family: "Montserrat", sans-serif;
}
aside {
    position: relative;
    width: 600px;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 235px;
}

aside img {
    width: 200px;
    height: auto;
}
p {
    padding: var(--padding);
}
footer {
    margin-top: 50px;
    border-top: 3px solid rgb(87, 87, 79);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: var(--background-color);
}